<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if info.icono %}
    <link rel="icon" type="image/png" href="{{ info.icono.url }}?v=1">
    {% endif %}
    <title>{{ info.nombre_negocio }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <header>
        <h1>{{ info.nombre_negocio }}</h1>
        <!--nav></nav-->
    </header>

    <main>
        <section>
            <h2><b>{{ info.slogan_1 }}</b></h2>
            <br>
            <p><i>{{ info.slogan_2 }}</i></p>
            <br>
            <a href="https://wa.me/{{ info.whatsapp }}" target="_blank"><b>RESERVA AHORA</b></a>
        </section>
        <aside>
            <h2>Buenos Aires</h2>
            <div class="widget">
                <h3>🌡️ Clima:</h3>
                <p id="weather">Cargando ...</p>
                <h3>🕒 Hora:</h3>
                <p id="time">Cargando ...</p>
            </div>
        </aside>
    </main>

    <div class="carrusel-container">
        <h2 class="titulo-carrusel">Principales destinos turísticos</h2>
        <div class="carrusel">
            <div class="contenedor">
                {% for l in lugares %}
                <div class="destino">
                    <h2>{{ l.nombre }}</h2>
                    <img src="{{ l.imagen.url }}" alt="{{ l.nombre }}">
                    <p>{{ l.descripcion }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="info">
        <img src="static/img/foto.jpg" alt="Perfil">
        <div class="texto">
            <h2>Sobre mi...</h2>
            <p>Soy una persona puntual que siempre cumple con sus responsabilidades de manera eficiente. 
                Además, me aseguro de mantener todo ordenado e higiénico por respeto a mi espacio y el de los demás.</p>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-info">
                <h3>Taxi traslados Alejandro</h3>
                <p>Teléfono: +54 9 11 5765-1442</p>
                <p>Email: contacto@empresa.com</p>
            </div>
            
            <div class="footer-social">
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a href="#"><img src="static/img/Facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="static/img/Instagram.png" alt="Instagram"></a>
                </div>
            </div>
        </div>
        <p class="footer-rights">© 2025 Taxi traslados Alejandro. Todos los derechos reservados.</p>
    </footer>

    <a href="https://wa.me/5491157651442" class="whatsapp-float" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    <script src="static/js/index.js"></script>
</body>
</html>